<!DOCTYPE html>
<html>

    <head>
        <title>Al Mundo con una Valija </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }
    </style>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav">
                      <a href="{% url 'Inicio' %}"
                        class="nav-item nav-link  {% if request.path == '/' %}active{% endif %}">Inicio</a>
                    </div>
          
                    {% if request.user.is_authenticated %}
                    <div class="navbar-nav ml-auto">
                        <a href="{% url 'accounts:profile' request.user.username %}"
                            class="nav-item nav-link {% if request.user.username in request.path %}active{% endif %}">
                            Perfil
                         </a>
                        <a href="{% url 'accounts:logout' %}" class="nav-item nav-link">Cerrar Sesion</a>
                      </div>
                
                    {% else %}
                    <div class="navbar-nav ml-auto">
                        <a href="{% url 'accounts:login' %}"
                            class="nav-item nav-link {% if request.path == '/accounts/login/' %}active{% endif %}">Acceder</a>
                        <a href="{% url 'accounts:signup' %}"
                            class="nav-item nav-link {% if request.path == '/accounts/signup/' %}active{% endif %}">Registrarse</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <body>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
             <!-- ... -->
            </nav>
        
        <!-- Adding the message in the template -->
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-3">
                            <li class="list-inline-item"><a href="{% url 'About' %}">Sobre Nosotros</a></li>
                        </ul>
            <p class="m-0 text-dark text-center ">Copyright &copy; Proyecto Final Python CoderHouse</p>
        </footer>
    </body>
</html>