{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
  
    .head_text {
        color: white;
    }
  
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
  </style>
  
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-12 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Al mundo con una Valija </h3>
                    <p class="text-light">Un Blog de Viajes y Mas..! &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
  </header>
<!-- About -->
<div class=" col-md-8 col-md-12 mx-auto">
<p class=" site-heading my-5 mt-3 text-black"> Soy Esteban Marconi, tengo 40 años y estoy cursando la carrera de Informatica en la UNLP. Soy un amante de la programación  <p/>

{% endblock %}